#mortgageForm button[type='submit'] {
  width: 100%;
  gap: 0.8rem;

  font-weight: var(--fw-700);

  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--clr-lime);
}

#mortgageForm button[type='submit']:hover {
  background-color: hsl(61, 70%, 52%, 0.5);
}

@media screen and (min-width: 700px) {
  #mortgageForm button[type='submit'] {
    width: initial;
    margin-top: 2.6rem;
    padding-inline: 2.6rem;
  }
}
